@page "/login"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager nav
@*//NavigationManager*@

@*<div>@query</div>*@
@*@nav*@

<h1>Query string parse example</h1>

<p>Value: @queryValue</p>

@code {
    private string queryValue = "Not set";

    protected override void OnInitialized()
    {
        var query = new Uri(nav.Uri).Query;

        if (QueryHelpers.ParseQuery(query).TryGetValue("code", out var value))
        {
            queryValue = value;
        }
    }
}