@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>
@*display=page&response_type=code&scope=73734*@
<div class="main">
    <div class="top-row px-4">
        @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        @*<a href="https://oauth.vk.com/authorize?client_id=4296319&display=popup&redirect_uri=https://localhost:44344/login&scope=73734&response_type=token" target="_blank">Login</a>*@
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
